.galleryX {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 16px; /* Spacing between items */
  margin-top: 2rem;
  padding-bottom: 5rem;
}
.art:visited{
  color: inherit;
}


.art p {
  text-decoration: none;
  margin-bottom: 1rem;
}

.artItemX {
  width: 100%;
  display: block;
  border-radius: 8px;
  padding: 0.3rem;
  background-color: white;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .galleryX {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
  }
}

@media (max-width: 768px) {
  .galleryX {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}
