/* Search.module.css */

.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem; /* Compact padding for better spacing */
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 100;
}

.leftSection {
  display: flex;
  flex-basis: 65%;
  align-items: center;
  gap: 0.5rem; 
}

.backButton {
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  font-size: 1.5rem; 
  color: #333; 
}

.title {
  font-family: var(--font);
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 300;
}

.searchContainer {
  display: flex;
  gap: 5px;
}

.searchBox {
  flex: 1;
  max-width: 300px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.gallery {
  padding-top: 2rem;
  columns: 3; 
  column-gap: 16px; 
  margin-top: 6rem; 
}

.artItem {
  width: 100%; 
  display: block;
  margin-bottom: 16px; 
  break-inside: avoid; 
  border-radius: 8px;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  transition: transform 0.3s ease-in-out; 
}


.artItem:hover{
  width: 100%;
  height: auto;
  display: block; 
  transform: scale(1.03); 
  filter: brightness(0.7); 
}



.pageNav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
  z-index: 100;
}



.pageNav span {
  font-size: 1rem;
  color: #333;
}


@media (min-width: 375px) and (max-width: 765px) {
  .gallery {
    columns: 2; 
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .gallery {
    columns: 3; 
  }
}

@media (min-width: 1024px) {
  .gallery {
    columns: 4; 
  }
}
