.ListButton{
    background-color: white;
    color: var(--orange);
    border: solid 1px var(--orange);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    
  }

  .ListButton:hover {
    background-color: var(--orange);
    color: white;
  }

